header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.hidden {
  display: none;
}

.window-content {
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}

label+label {
  margin-left: 10px;
}