#login_form {
  margin: 50px auto;
  width: 50%;
}

#login_err {
  color: red;
}

.window-content .table_base {
  width: 95%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
}

#logDiv button.dt-button {
  padding: 3px 8px;
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 1.4;
}