.window-content .table_base {
  width: 95%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
}

.window-content .chart_base {
  width: 95%;
  height: 180px;
}

.window-content {
  flex-direction : column;
}

.tt-menu {
  width: 200px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 10px;
  line-height: 12px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.log_btns .tt-menu {
  min-height: 60px;
  max-height: 60px;
  overflow-y: auto;
}

.arpTables {
  display: -webkit-flex;
  display: flex;
}